# --- CONFIGURACIÓN DE GOOGLE SHEETS API ---
# ID de la hoja de cálculo (se saca de la URL del navegador)
SPREADSHEET_ID=tu_id_de_google_sheet_aqui

# Email de la cuenta de servicio de Google Cloud
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-cuenta-de-servicio@proyecto.iam.gserviceaccount.com

# Clave privada de la cuenta de servicio (asegurate de incluir las comillas y los \n)
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# Nombre de la columna que contiene las fechas de cumpleaños
BIRTHDAY_COLUMN=nombre_de_la_columna_de_cumpleaños